<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        .backdrop
        header.main-header 
            button(id="side-menu-toggle") Menu
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Create Job
                    li.main-header__item
                        a(href="/feed/posts", class=(path === '/view-jobs' ? 'active' : '')) View Jobs   
                    li.main-header__item 
                        a(href="/teams", class=(path === '/products' ? 'active' : '')) Sessions
                    li.main-header__item
                        a(href="/admin", class=(path === '/products' ? 'active' : '')) Teams

            nav.mobile-nav
                ul.mobile-nav__item-list
                    li.mobile-nav__item 
                        a(href="/", class=(path === '/' ? 'active' : '')) Create Job
                    li.mobile-nav__item
                        a(href="/feed/posts", class=(path === '/view-jobs' ? 'active' : '')) View Jobs
                    li.mobile-nav__item
                        a(href="/teams", class=(path === '/products' ? 'active' : '')) Sessions
                    li.mobile-nav__item 
                        a(href="/admin", class=(path === '/' ? 'active' : '')) Teams
               

        script(type='text/javascript' src="/js/main.js")   
        block content
