extends ./layouts/main-layout.pug

block content

  main
    h1 Edit Jobs
    form(action="/feed/edit-jobs" method="PUT")
      label(for="title") Title
      input(type="text" name="title" value=post.title)
      input(type="hidden" name="productId" value=post._id ) 
      button.btn(type="submit") Update Product