extends ./layouts/main-layout.pug

block content

  main
    if (errorMessage)
      div(class="user-message user-message--error") #{errorMessage}
    body.centered
      h1 Workers
      section.work__order_create
        div(id="work__order_form_style")
        form.work__order_form(action="/feed/create-post" method="POST")
          input(type="text", name="job", placeholder="Job" required) 
          input(type="text", name="description", placeholder="Description" required) 
          input(type="text", name="address", placeholder="Address" required)
          input(type="text", name="zipCode", placeholder="Zip Code" required)
          input(type="text", name="supplies", placeholder="Supplies" required) 
          input(type="text", name="appointment", placeholder="Appointment" required) 
          input(type="text", name="operator", placeholder="Operator" required)
            
          input(type="submit")