html
  head
    title= title
  body
    h1= message
    h2 Add data
    form(action="/create-post" method="POST")
        h3 Title: 
            input(type="text", name="title", placeholder="title" required)
        h3 Content: 
            input(type="text", name="content", placeholder="content" required)
        input(type="submit")