extends ./layouts/main-layout.pug

block content

  main
    head
      title= title
    body
      h1 Posts page
      each p in ps
        p Job: #{p.job} 
        p Description: #{p.description}
        hr
